* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* default styles */

.container {
  width: 80%;
  margin: 0 auto;
}

/* navbar related styles */

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.navbar {
  margin-top: 30px;
}

.navbar-links ul {
  display: flex;
  gap: 50px;
}

.navbar-links ul li {
  list-style: none;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #8987a1;
}

ul.links .active-1 {
  color: black;
  font-weight: bold;
}

ul.links .active-2 {
  color: black;
}

ul.links li i {
  margin-right: 5px;
}

ul.links .active-2 {
  font-size: 18px;
}


/* banner related styles */

section.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.banner-content h1 {
    font-size: 4rem;
    line-height: 90px;
    margin-bottom: 10px;
}

.banner-content h1 span {
    color: #E95A08;
}

.banner-content p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    line-height: 28px;
}

section.banner {
    margin-top: 150px;
}


/* plants section related styles */

section.plants {
    margin-top: 130px;
}

.plants-heading {
    text-align: center;
}

.plants-heading h1 {font-size: 3rem;margin-bottom: 20px;}

.plants-heading h1 span {
    color: #E95A08;
}

.plants-heading p {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
}

.plats-cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.single-card img {
    width: 100%;
}

.single-card h3 {
    color: rgba(17, 17, 17, 1);
    font-weight: 500;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 20px;
}

.single-card h2 {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 10px;
    color: rgba(17, 17, 17, 1);
}

.single-card button {
    border: none;
    background: #E95A08;
    color: white;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0px;
    margin-top: 20px;
    margin-bottom: 15px;
}


/* plants lover section */

section.plants-lover {
    display: flex;
    margin-top: 180px;
    margin-bottom: 130px;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
}

.plants-lover-img {
    width: 100%;
}

.plants-lover-img {
    position: relative;
}

.plants-lover-img .badge-img {
    position: absolute;
    top: -112px;
    width: 250px;
    left: 390px;
}

.plants-lover-content {
    width: 50%;
}

.plants-lover-img {
    width: 50%;
}

.plants-lover-content h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.plants-lover-content ul li {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    margin-left: 23px;
    margin-bottom: 25px;
}


/* latest deals section */

.latest-deals-heading {
    text-align: center;
}

.latest-deals-heading h1 {
    font-size: 3rem;
}

.latest-deals-heading h1 span {
    color: #E95A08;
}

.latest-deals-heading p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.card-layout {
    display: flex;
    gap: 25px;
    margin-top: 80px;
}

.card-layout-right img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.card-layout-left img {
    border-radius: 20px;
    display: block;
}

.card-layout-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deal-bloom {
    position: relative;
    text-align: center;
    display: inline-block;
}

.deal-bloom-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.deal-ana {
    position: relative;
    text-align: center;
}

.deal-ana-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.deal-bloom-content a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.deal-bloom-content h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.deal-bloom::after, .deal-ana::after, .card-layout-right::after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
}

.deal-bloom-content {
    width: 100%;
}

.deal-ana-content h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.deal-ana-content {
    width: 100%;
    color: white;
}

.deal-ana-content a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid white;
    font-weight: 500;
}

.card-layout-right {
    position: relative;
}

.card-layout-right-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.card-layout-right-content h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-layout-right-content {
    width: 100%;
    text-align: center;
    z-index: 1;
}

.card-layout-right-content a {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid white;
}


/* join section related styles */

.join{
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.join {
    margin-top: 130px;
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-content h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

.join-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.join-content {
    width: 100%;
}

.join-form input[type="email"] {
    width: 50%;
    padding: 20px 10px;
    border: none;
}

.join-form button {
    width: 200px;
    background: #E95A08;
    border: none;
    color: white;
    font-size: 1rem;
}



/* responsive related styles */

/* responsive for small device */

@media screen and (max-width: 576px) {

.container{
    width: 90%;
    margin: 0 auto;
  }

  /* navbar related styles */

  .navbar-links ul {
    display: flex;
    gap: 50px;
  }


  .banner{
    flex-direction: column-reverse;
    width: 100%;
   }

  .links .hidden{
    display: none;
  }

  /* banner related styles */

  section.banner {
    margin-top: 70px;
  }

  .banner-img img{
    width: 100%;
  }

  .banner-content h1 {
    font-size: 2rem;
    line-height: 45px;
    margin-top: 40px;
}

.banner-content p {
    font-size: 1rem;
    line-height: 22px;
}

.banner-content {
    margin-left: 15px;
    margin-right: 25px;
}

/* plants section styles */

.plats-cards{
    grid-template-columns: repeat(2, 1fr);
}

section.plants {
    margin-top: 80px;
}

.plants-heading h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.plants-heading p {
    width: 100%;
    font-size: 1rem;
    padding-top: 0px;
}

/* plants lover related styles */

.plants-lover-img .trusted-hidden {
    display: none;
}

section.plants-lover {
    flex-direction: column;
    margin-top: 100px;
    gap: 40px;
}

.plants-lover-img .lover-img {
    width: 100%;
}

.plants-lover-img {
    width: 100%;
}

.plants-lover-content {
    width: 100%;
}

.plants-lover-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.plants-lover-content ul li {
    font-size: 1rem;
}

/* latest deals related styles */

.card-layout{
    flex-direction: column;
}

.card-layout-left img{
    width: 100%;
}

.card-layout-right-content h1{
    font-size: 1.5rem;
}

.card-layout-right-content a{
    font-size: 1rem;
}

.latest-deals-heading p{
    width: 100%;
}

section.latest-deals {
    margin-top: -50px;
}

}
