* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* default styles */

.container {
  width: 80%;
  margin: 0 auto;
}

/* navbar related styles */

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.navbar {
  margin-top: 30px;
}

.navbar-links ul {
  display: flex;
  gap: 50px;
}

.navbar-links ul li {
  list-style: none;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #8987a1;
}

ul.links .active-1 {
  color: black;
  font-weight: bold;
}

ul.links .active-2 {
  color: black;
}

ul.links li i {
  margin-right: 5px;
}

ul.links .active-2 {
  font-size: 18px;
}


/* banner related styles */

section.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.banner-content h1 {
    font-size: 4rem;
    line-height: 90px;
    margin-bottom: 10px;
}

.banner-content h1 span {
    color: #E95A08;
}

.banner-content p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    line-height: 28px;
}

section.banner {
    margin-top: 150px;
}






/* responsive related styles */

/* responsive for small device */

@media screen and (max-width: 576px) {

.container{
    width: 90%;
    margin: 0 auto;
  }

  /* navbar related styles */

  .navbar-links ul {
    display: flex;
    gap: 50px;
  }


  .banner{
    flex-direction: column-reverse;
    width: 100%;
   }

  .links .hidden{
    display: none;
  }

  /* banner related styles */

  section.banner {
    margin-top: 70px;
  }

  .banner-img img{
    width: 100%;
  }

  .banner-content h1 {
    font-size: 2rem;
    line-height: 45px;
    margin-top: 40px;
}

.banner-content p {
    font-size: 1rem;
    line-height: 22px;
}

.banner-content {
    margin-left: 15px;
    margin-right: 25px;
}

}
