/* default style starts here */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.container{
  width: 85%;
  margin: 0 auto;
}

.primary-text-clr{
  color: #5a5a5d;
}

.common-clr{
  color: #ff5400;
}

button{
  background-color: #ff5400;
}

/* nav section style starts here */

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.logo {
  font-size: 1.5rem;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-left: 2.5rem;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

label.logo h1 {
  margin-left: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

nav ul li a{
color: #5a5a5d;
}

.nav-menu-icon{
  color: black;
}


/* banner section style starts here */

.banner{
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
}