/* default style starts here */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.primary-text-clr{
  color: #5a5a5d;
}

.common-clr{
  color: #ff5400;
}

.primary-btn{
  background-color: #ff5400;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 10px;
}

/* nav section style starts here */

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.logo {
  font-size: 1.5rem;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-left: 2.5rem;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

label.logo h1 {
  margin-left: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

nav ul li a{
color: #5a5a5d;
}

.nav-menu-icon{
  color: black;
}


/* banner section style starts here */

.banner{
  background-image:linear-gradient(to bottom,
  rgba(0, 0, 0, 0.75),
  rgba(255, 255, 255, 0)), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%15%;
  text-align: center;
  color: white;
  gap: 25px;
}

.banner-content h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
}

.banner-content p {
  font-weight: 300;
}

.banner-form input, select, .banner-btn {
  border: none;
  width: 150px;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
}

form.banner-form button{
  color: white;
}

form.banner-form {
  display: flex;
  gap: 25px;
  background: #ffffff54;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}


/* tour section style starts here */

section.tour-container {
  display: flex;
  margin-top: 100px;
  gap: 50px;
}

.tour-content h1 {
  font-size: 2rem;
}

.tour-content * {
  margin-bottom: 21px;
}

.tour-content p {
  font-size: 14px;
}

.tour-content p i {
  margin-right: 5px;
}

.tour-img img {
  width: 100%;
}

.tour-content {
  width: 50%;
}

.tour-img {
  width: 50%;
}